GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

KUBEREATS_ENV=dev
KUBEREATS_DB_CLUSTER=kubereats-postgres

PG_NODE_1_NAME=pg-a
PG_NODE_1_DSN=postgresql://postgres_exporter:CHANGE_ME@db-node-1.example.internal:5432/postgres?sslmode=disable

PG_NODE_2_NAME=pg-b
PG_NODE_2_DSN=postgresql://postgres_exporter:CHANGE_ME@db-node-2.example.internal:5432/postgres?sslmode=disable

PG_NODE_3_NAME=pg-c
PG_NODE_3_DSN=postgresql://postgres_exporter:CHANGE_ME@db-node-3.example.internal:5432/postgres?sslmode=disable

PATRONI_NODE_1_URL=http://db-node-1.example.internal:8008/metrics
PATRONI_NODE_2_URL=http://db-node-2.example.internal:8008/metrics
PATRONI_NODE_3_URL=http://db-node-3.example.internal:8008/metrics

DB_NODE_1_NODE_EXPORTER=http://db-node-1.example.internal:9100/metrics
DB_NODE_2_NODE_EXPORTER=http://db-node-2.example.internal:9100/metrics
DB_NODE_3_NODE_EXPORTER=http://db-node-3.example.internal:9100/metrics

GCS_BACKUP_BUCKET=kubereats-postgres-backup
GCS_BACKUP_PREFIX=pgbackrest/
GCS_BACKUP_MAX_AGE_HOURS=26
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/gcp-sa.json
