GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME
GRAFANA_BIND_ADDRESS=127.0.0.1
GCP_PROJECT_ID=your-gcp-project-id
K8S_PROMETHEUS_URL=http://192.168.17.11:30990

KUBEREATS_ENV=dev
KUBEREATS_DB_CLUSTER=kubereats-postgres

PG_NODE_1_NAME=pg1
PG_NODE_1_EXPORTER_TARGET=10.250.0.11:9187
PG_NODE_2_NAME=pg2
PG_NODE_2_EXPORTER_TARGET=10.250.0.12:9187
PG_NODE_3_NAME=pg3
PG_NODE_3_EXPORTER_TARGET=10.250.0.13:9187

PATRONI_NODE_1_TARGET=10.250.0.11:8008
PATRONI_NODE_2_TARGET=10.250.0.12:8008
PATRONI_NODE_3_TARGET=10.250.0.13:8008

DB_NODE_1_EXPORTER_TARGET=10.250.0.11:9100
DB_NODE_2_EXPORTER_TARGET=10.250.0.12:9100
DB_NODE_3_EXPORTER_TARGET=10.250.0.13:9100

GCS_BACKUP_BUCKET=kubereats-postgres-backup
GCS_BACKUP_PREFIX=pgbackrest/
GCS_BACKUP_MAX_AGE_HOURS=26
